body{
    background-color: #ADEFD1FF;
    font-family: 'Pacifico', cursive;
}

.header_div{
    background-color:#00203fff;    
    color: #ADEFD1FF;
}

.header_div h1{
    font-family: 'Rampart One', cursive;
}

.header_div p{
    font-family: 'Fredoka One', cursive;
    color: white;
    letter-spacing: 1px;
}

button{
    margin: 10px;
}

.footer {
    position: fixed;
    color: #ADEFD1FF;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color:#00203fff;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
    font-family: 'Pacifico', cursive;
 }
 